body {
  background-color: #DBC2CF;
  font-family: 'lora', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-weight: lighter;
}

.section {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 10px grey;
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.img-circle {
  border-radius: 50%;
}

p {
color: grey;
margin-bottom: 20px;
}

a {
  font-family: 'Roboto', sans-serif;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: underline;
}

.call-to-action {
  background-color: yellow;
  color: red;
  padding: 10px 10px;
  border-radius: 4px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0;
}

@media (max-width: 500px) {
  /* For a screen < 960px, this CSS will be read */
  .section {
    width: 300px;
  }
}
